/*Start Main Rules */
body{
   color: #566366;
}
.container{
  width: 1170px;
  margin:auto ;
}

/*End Main Rules */
/* Start Headar */
.header .slider{
    min-height:450px;
    background-image: url(../images/slider.jpg);
    background-size: cover; /*CSS3 */
    text-transform: uppercase;
   
}
.header .slider >.container{
    overflow: hidden;
    height: 450px;
}
.header .slider .intro{
    text-align: center;
    margin-top: 180px;
   color: white;
} 
.header .slider .intro h1{
    margin: 0 auto;
    font-size: 40px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    width: 570px;
    padding: 5px 0;
}
/* Button */
.header .slider .intro button{
    background:none;
    margin-top: 25px;
    font-size: 25px;

    text-transform: capitalize;
    border: 2px solid white;
    padding:10px 20px;
}
.header .slider .intro button:hover{
    color: yellow;
    border-color: yellow;
}
/*End button*/

.header .navbar{
    background-color:black;
    color: white;
    overflow: hidden;
}
.header .navbar>.container{
    overflow: hidden;
}
.header .navbar h2{
    text-transform: uppercase;
    color: white;
}
.header .navbar h2 span{color: yellow;}
.header .navbar ul{
    list-style: none;
    padding-left: 0;
} 
.header .navbar ul li{
    text-transform: capitalize;
    float: right;
    padding: 10px;
    
}
.header .navbar ul li a{
    text-decoration: none;
    color: white;
}
.header .navbar ul li a:hover{
    
    color: yellow;
}
/* end Header */

/* Features*/
.features{
    overflow: hidden;
    padding: 35px 0;
}
.features .feat{
    width: 33.33333333333%;
    height: 150px; 
}
.features .feat h2{text-transform: uppercase;}
.features .feat p{
    text-align: justify;
    padding: 0 25px 0 0;}
/*End Features*/

/*About Me*/
.about-me{
    background-color: #F2F2F2;
    overflow: hidden;
}
.about-me .image{width: 40%;}
.about-me .image img{width: 100%;}
.about-me .info{width: 60%;}
.about-me .info h2{
    margin: 40px 0 0 40px ;
    text-transform: capitalize;
}
.about-me .info>p{margin-left: 40px ;}
/*experiences */
.about-me .info .experience{
    overflow: hidden;
    margin: 40px 0 0 40px;
}
.about-me .info p{padding-right: 10px;}
.about-me .info .experience .content{
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}
.about-me .info .experience .content h3{text-transform: uppercase;}
.about-me .info .experience .content .icon{
    width: 11%;
    margin-top: 4%;
    margin-right: 4%;
}
.about-me .info .experience .content .icon img{max-width: 100%;}
.about-me .info .experience .content .text{width: 85%;}

/*End About Me*/

/*My Skills */
/*Skills */
.skills{
 padding:   30px 0; 
 overflow: hidden;
 padding-bottom: 50px;  
}
.skills h2{text-transform: capitalize;}
/*End Skills*/

.skills .my-skills,.skills .progress{width: 50%;}

/*progress*/
.skills .progress .technique{margin-left: 5%;}
.skills .progress .technique h3{text-transform: capitalize;}
.skills .progress .technique div{
    background-color:#F2F2F2 ;
    height: 25px;
}
.skills .progress .technique div span{
    background-color: rgb(255, 219, 3);
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    font-weight: bold ;
}
/*End Progress*/
/* End My Skills*/

/*Resume*/
.resume{
    background-color:#F2F2F2 ;
    text-align: center;
    padding: 30px 0 70px 0 ;
}
.resume h2{text-transform: uppercase;}
.resume p{padding: 0 70px;}
.resume button{margin-top: 20px;}
/*End Resume*/

/*My Education */
.education{
    padding:   30px 0; 
    overflow: hidden;  
}
.education .my-education h2{text-transform: capitalize;}
.education .my-education{
       width: 50%;
       margin-right: 5%;
}
.education .exp{
    width: 45%;
    margin: 49px 0;
}
.education .exp h3{
    margin-bottom: 5px;
    text-transform: uppercase;
}
.education .exp p{margin: 5px 0;}
.education .exp  .diploma span{
    display: inline;
    font-weight: bold;
}
.education .exp .diploma>span:last-of-type{
    background-color: rgb(255, 219, 3);
    padding: 3px 7px;
    font-weight: normal;
    color: white;
    display: inline-block;
    
}
.education .exp .diploma hr{
    margin: 20px 0;
    background-color: rgb(197, 192, 192);
    height: 1px;
}
.education .exp .diploma{margin-bottom: 20px;}
/* End Education*/

/*My Work Experience */
.work{
    padding:   30px 0; 
    overflow: hidden;  
}
.work>.container{overflow: hidden;}
.work .my-work h2 {text-transform: capitalize;}
.work .my-work p{ padding: 0 60px 0 0;}
.work .my-work{
    width: 50%;
    margin-right: 5%;
}
.work .exp{
 width: 45%;
 margin: 49px 0;
}
.work .exp h3{
 margin-bottom: 5px;
 text-transform: uppercase;
}
.work .exp p{margin: 5px 0;}
.work .exp  .diploma span{
 display: inline;
 font-weight: bold;
}
.work .exp .diploma>span:last-of-type{
 background-color: rgb(255, 219, 3);
 padding: 3px 7px;
 font-weight: normal;
 color: white;
 display: inline-block;
 text-transform: uppercase;
}
.work .exp .diploma hr{
 margin: 20px 0;
 background-color: rgb(197, 192, 192);
 height: 1px;

}
.work .exp .diploma{margin-bottom: 20px;}
/* End My Work Experience*/

   
/*Testimonials*/
.testimonials{
    background-color:#F2F2F2 ;
    text-align: center;
    padding: 50px 30px ;
}
.testimonials blockquote{
    line-height: 1.7;
    padding: 10px 170px;
    font-weight: bold;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} .testimonials h3{text-transform: uppercase;} 
.testimonials ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.testimonials ul li {
    border: 2px solid rgb(255, 219, 3) ;
    width: 8px;
    height: 8px;
    display: inline-block;
    cursor: pointer;
}
.testimonials ul li:nth-child(2){background-color: rgb(255, 219, 3);}
.testimonials ul li:hover{background-color: rgb(255, 219, 3);}
/*End Testimonials*/

/*Portfolio*/
.portfolio{
    padding: 30px 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}
.portfolio h2{text-transform: capitalize;}
.portfolio p{padding: 20px 20px 50px 20px;}
.portfolio .my-portfolio {overflow: hidden;}
.portfolio .my-portfolio >div{
    float: left;
    width: 33.3333333%;
    margin-bottom: 10px;
}
.portfolio .my-portfolio >div img{
    width: 97%;
    margin-right: 10px;}
/*End Portfolio*/

/*Contact Me*/
.contact .info{
    margin-right: 5%;
    width: 50%;
}
.contact .form{width: 45%;}
/*info */
.contact{
    background-color: rgb(24, 23, 23);
    overflow: hidden;
    padding-bottom: 70px;
    padding-top: 50px;
}
.contact h2{
    color: rgb(230, 227, 227);
    text-transform: uppercase;
}
.contact .info p strong{
    color: rgb(230, 227, 227);
    text-transform: capitalize;
    font-weight: normal;
}
/*End Info */

/*Form */
.contact .form label{
    text-transform: capitalize;
    color: rgb(230, 227, 227);
    display: block;
    margin: 10px 0;
}
.contact .form input[type="text"]{
    background-color: #3f494b;
    border-style: none;
    height: 30px;
    width: 70%;
    margin-bottom: 10px;
    color: white;
}
.contact .form textarea{
    background-color: #3f494b;
    border-style: none;
    height: 300px;
    width: 77%;
    margin-bottom: 10px;
    color: white;
}
.contact .form input{
    display: block;
    background-color: black;
    border-style: none;
    margin-bottom: 10px;
    padding: 8px 20px;
    color: white;
}
/*End Form*/
/*End Contact Me */

/*Footer*/
.footer{
    background-color: black;
    text-align: center;
    padding: 20px 5px;
}
.footer ul {
    list-style: none;
    padding-left: 0; 
}
.footer ul li{
    display: inline-block;
    margin: 0 4px;
}
.footer ul li img {width: 27px;}
/*End Footer*/

/*My Framework*/
.my-button{
    background:none;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid rgb(255, 219, 3) ;
    color: rgb(255, 219, 3) ;
}
.fl-left{float: left;} /*left foating elements*/
p{line-height: 1.5;}
h2,h3{color: rgb(61, 60, 60);}

/*End My Framework*/